@{
    ViewData["Title"] = "SCP - Página principal";
    ViewData["Description"] = "Pagina principal en la que se muestra el listado de opciones para el usuario";
}

<div class="text-center">
    <h1 class="display-4">SCP</h1>
    <h2>Sistema de Control de Parqueos</h2>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
<div class="text-center">
    <img src="~/images/2023-index-parqueo-v2.jpg" alt="Vista aéra de un parqueo" />
</div>